# Compiled class file
/target/
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Eclipse project files
.project
.classpath
.settings/

# IDEA project files
.idea/
*.iml